<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSPECTRA - Object Detection Application</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Faça o Upload da Imagem para a Detecção</h1>
        <form id="upload-form" action="/object-detection/" method="post" enctype="multipart/form-data">
            <label for="image">Selecione uma Imagem:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
            <input type="submit" value="Enviar e Aplicar Detecção">
        </form>
        <br>
        <h2>Imagem Processada:</h2>
        <img id="output-image" src="" alt="Imagem Processada">
        <br>
        <a id="download-link" href="" download="output.png">Baixar Imagem</a>
        <div id="message"></div>
    </div>

    <script>
        document.getElementById('upload-form').onsubmit = async function(event) {
            event.preventDefault();

            const fileInput = document.getElementById('image');
            if (!fileInput.files || fileInput.files.length === 0) {
                alert('Por favor, selecione uma imagem antes de enviar.');
                return;
            }

            const messageDiv = document.getElementById('message');
            messageDiv.style.display = 'none';

            const formData = new FormData(event.target);
            const response = await fetch('/object-detection/', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                const blob = await response.blob();
                const url = URL.createObjectURL(blob);

                const outputImage = document.getElementById('output-image');
                outputImage.src = url;
                outputImage.style.display = 'block';

                const downloadLink = document.getElementById('download-link');
                downloadLink.href = url;

                messageDiv.textContent = 'Imagem processada com sucesso!';
                messageDiv.style.backgroundColor = '#4CAF50';
                messageDiv.style.display = 'block';
            } else {
                const error = await response.text();
                messageDiv.textContent = `Erro: ${error}`;
                messageDiv.style.backgroundColor = '#f44336';
                messageDiv.style.display = 'block';
            }
        };
    </script>
</body>
</html>